ATLAS_ORG_ID="6aa7ce6a270527c9cf982a14"
ATLAS_ORG_URL="https://cloud.mongodb.com/v2#/org/6aa7ce6a270527c9cf982a14/projects"
ATLAS_CLUSTER="cluster0.awdizt0.mongodb.net"
ATLAS_DB="helplineems"

DATABASE_URL="mongodb+srv://USER:PASSWORD@cluster0.awdizt0.mongodb.net/helplineems?retryWrites=true&w=majority"
MONGODB_URI="mongodb+srv://USER:PASSWORD@cluster0.awdizt0.mongodb.net/helplineems?retryWrites=true&w=majority"
MONGODB_USERNAME="your-atlas-username"
MONGODB_PASSWORD="your-atlas-password"
JWT_SECRET="replace-with-a-long-random-string"
